.login-form {
  user-select: none;
  max-width: 400px;
  margin-left: 100px;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 400px;
  padding: 8px;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  border: none;
  border-bottom: 0.2px solid #8c8c8c;
  outline-color: #0d64f9;
  height: 30px;
}

button {
  background-color: #0f62fe;
  color: white;
  padding: 10px 15px;
  width: 415px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  text-align: left;
  height: 50px;
}

.error-message {
  color: red;
  margin-top: 10px;
}